* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Nerko One', cursive;
    color: #192a56;
}

section {
    height: 100vh;

}

.wrapper1 {
    flex: 1;
    margin-bottom: 20px;
}

.wrapper2 {
    flex: 4;
}

.wrapper1 h1 {
    font-size: 32px;
    padding: 5px 0;
    letter-spacing: 2px;
}

.wrapper2 h2 {
    font-weight: 200;
    padding: 5px 0;
    letter-spacing: 2px;
}

.container {
    max-width: 50%;
    min-height: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}