* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Nerko One', cursive;
    color: #192a56;
    background-color: #f5f6fa;
}

section {

    display: -ms-flexbox;

    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100vh;
    text-shadow: 2px 2px 8px #FF0000;
}

.wrapper1 {
    -ms-flex: 1;
        flex: 1;
    margin: 0 auto 20px 0;

}

.wrapper2 {
    margin: 0 auto 20px 0;
    -ms-flex: 4;
        flex: 4;
    text-align: left;
}

.wrapper1 h1 {
    font-size: 32px;
    padding: 5px;
    letter-spacing: 2px;
}

.wrapper1 h3 {
    font-weight: 200;
    padding: 5px;
    letter-spacing: 2px;
}

.container {
    max-width: 50%;
    min-height: 80%;
    margin: 50px auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;

}

.wrapper2 p {
    line-height: 2rem;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;

}